header {
  margin-top: 10px;
  border-bottom: 1px solid #ededef;
  padding-bottom: 10px;
}

/* μΈν¬λ°” */
.info-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
}
.info-bar__menu img {
  width: 15px;
}

.info-bar__icons img {
  width: 15px;
}
